<form action="/create_user_skill_from_skill" method="post">

  <input type="hidden" name="skill_id" value="<%= @skill.id %>">

  <div class="form-group">
    <label for="kid_id">
      Kid
    </label>

    <%= select_tag(:kid_id, options_from_collection_for_select(User.all, :id, :created_at, @user_skill.kid_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create user skill
  </button>
</form>
