<h1>
  Edit skill #<%= @skill.id %>
</h1>

<hr>

<form action="/update_skill/<%= @skill.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @skill.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update skill
  </button>
</form>

<hr>

<a href="/skills">
  Go back
</a>
