<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Profile Images

    <a data-toggle="collapse" href="#user_profile_images_new_form">
      Add profile image
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.profile_images.each do |profile_image| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/profile_images/<%= profile_image.id %>">
          <%= profile_image.image_upload %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
