<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Tasks As Poster

    <a data-toggle="collapse" href="#user_tasks_as_poster_new_form">
      Add task
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.tasks_as_poster.each do |task| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/tasks/<%= task.id %>">
          <%= task.adult_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
