<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sent Messages

    <a data-toggle="collapse" href="#user_sent_messages_new_form">
      Add message
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.sent_messages.each do |message| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/messages/<%= message.id %>">
          <%= message.sender_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
