<!-- Form message start -->
<form action="/create_message_from_task" method="post">
<!-- Form message end -->

  <!-- Label and input for sender_id start -->
  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <!-- Input for sender_id start -->
    <input type="text" id="sender_id" name="sender_id" class="form-control" value="<%= @message.sender_id %>">
    <!-- Input for sender_id end -->
  </div>
  <!-- Label and input for sender_id end -->

  <!-- Label and input for recipient_id start -->
  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <!-- Input for recipient_id start -->
    <input type="text" id="recipient_id" name="recipient_id" class="form-control" value="<%= @message.recipient_id %>">
    <!-- Input for recipient_id end -->
  </div>
  <!-- Label and input for recipient_id end -->

  <!-- Label and input for task_id start -->
  <!-- Input for task_id start -->
  <input type="hidden" name="task_id" value="<%= @task.id %>">
  <!-- Input for task_id end -->

  <!-- Label and input for message start -->
  <div class="form-group">
    <label for="message">
      Message
    </label>

    <!-- Input for message start -->
    <input type="text" id="message" name="message" class="form-control" value="<%= @message.message %>">
    <!-- Input for message end -->
  </div>
  <!-- Label and input for message end -->

  <button class="btn btn-block btn-outline-secondary">
    Create message
  </button>
</form>
