<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Messages

    <a data-toggle="collapse" href="#task_messages_new_form">
      Add message
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @task.messages.each do |message| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/messages/<%= message.id %>">
          <%= message.sender_id %>
        </a>

        <a href="/delete_message_from_task/<%= message.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="task_messages_new_form">
        <%= render partial: "task_templates/task_messages_new_form" %>
      </div>
    </div>

  </ul>
</div>
