<!-- Form feedback start -->
<form action="/create_feedback_from_task" method="post">
<!-- Form feedback end -->

  <!-- Label and input for task_id start -->
  <!-- Input for task_id start -->
  <input type="hidden" name="task_id" value="<%= @task.id %>">
  <!-- Input for task_id end -->

  <!-- Label and input for comment start -->
  <div class="form-group">
    <label for="comment">
      Comment
    </label>

    <!-- Input for comment start -->
    <input type="text" id="comment" name="comment" class="form-control" value="<%= @feedback.comment %>">
    <!-- Input for comment end -->
  </div>
  <!-- Label and input for comment end -->

  <!-- Label and input for ratings start -->
  <div class="form-group">
    <label for="ratings">
      Ratings
    </label>

    <!-- Input for ratings start -->
    <input type="text" id="ratings" name="ratings" class="form-control" value="<%= @feedback.ratings %>">
    <!-- Input for ratings end -->
  </div>
  <!-- Label and input for ratings end -->

  <button class="btn btn-block btn-outline-secondary">
    Create feedback
  </button>
</form>
